<footer class="blog-footer footer mt-md-auto py-md-3 text-white-75">
    <div class="container">
    <p>BriceLab Blog by <a href="https://twitter.com/mdo">@bricelab89</a>.</p>
    </div>
    <div class="container">
    <p>
        <a href="#">Back to top</a>
    </p>
    </div>
</footer>
